fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain-huggingface
langchain_groq
fastembed
faiss-cpu
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypdf